@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
	margin: 0;
	height: 100%;
	overflow: clip;
}

.content {
	overflow: auto;
}

.btn-xs > svg,
.icon-xs {
	width: 16px;
	height: 16px;
}

.spacer {
	flex-grow: 1;
}
